version: '3.8'

services:
  db:
    image: postgres:14
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: parking_db
    ports:
      - "5432:5432"
    volumes:
      - ./backend/sql/tablas.sql:/docker-entrypoint-initdb.d/01-tablas.sql
      - ./backend/sql/carga_inicial.sql:/docker-entrypoint-initdb.d/02-carga_inicial.sql
    restart: always
    networks:
      - parking-network

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    ports:
      - "9000:9000"
    networks:
      - parking-network
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

networks:
  parking-network:
    name: parking-network

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
